name: Test

on:
  push:
    branches:
      - main
    paths:
      - homoglyphs_fork/**
      - .github/workflows/test.yml
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Run lint
        run: |
          uv run black --check --diff homoglyphs_fork/
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      max-parallel: 4
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Test
        run: |
          uv run tests.py
